<% include ../partials/header.ejs %>


<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Test Form</h1>
			<form action="" method="post" enctype='multipart/form-data'>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" name="name">
				</div>
				<div class="form-group">
					<label for="address">Address</label>
					<textarea name="address" id="" cols="30" rows="6" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="profile_picture">Select Profile Picture</label>
					<input type="file" name="profile_picture" id="">
				</div>
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-danger pull-right">
				</div>
			</form>
		</div>
	</div>
</div>


<% include ../partials/footer.ejs %>